.footer {
    background-color: #A8A8A8 !important;
    text-align: center;
    color: black;
}

main {
    overflow-y: auto;
    background-color: white;
}

.wrapper {
    background-color: lightgray;
}

footer {
    margin-top: 3em;
}

.header {
    background-color: #D8F1F6;
}

.border {
    border: 2px solid black;
}

.square {
    width: 400px;
    height: 400px;
}

.small {
    width: 50px;
    height: 50px;
}

.leftM {
    margin-left: 1em;
}

md-button.md-default-theme.md-accent,
.md-button.md-accent {
    color: white;
}
md-nav-bar md-nav-ink-bar {
  background: white;
}
#toolbar {
    background:#8ddaef;
}
.embedly-card{
    width: 450px;
    height: 400px;
    margin-right: 25px;
}
#nextButtons {
    background-color: #8ddaef;
}
