<table class="table">
    <thead>
        <tr>
            <th width="1%">Member</th>
            <th>Name</th>
            <th>Email</th>
            <th>LinkedIn</th>
            
            <th width="7%">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="member in adminCtrl.members">
            <td><i class="fa fa-star" ng-class="member.isMember ? 'is-member' : 'not-member' "></i></td>
            <td>{{member.firstName}} {{member.lastName}}</td>
            <td>{{member.email || 'N/A'}}</td>
            <td>{{member.linkedIn || 'N/A'}}</td>
            <td>
                <div class="btn-group">
                    <button class="button btn-primary"  ng-click="adminCtrl.makeMember(member)">
                        <i class="fa fa-check"></i>
                    </button>
                    <button class="button btn-danger" ng-click="adminCtrl.remove(member)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
