  <div layout="row" layout-align="center center">
    <div class="md-whiteframe-z1" flex=50 layout-align="center center">
        <md-toolbar class="md-hue-3">
            <div class="md-toolbar-tools">

                <h2>Log in</h2>

            </div>
        </md-toolbar>

  <md-content layout-padding>
    <div layout-gt-sm="column">
    <md-input-container class="md-block" flex-gt-sm>

      <label>Email <i class="fa fa-envelope" aria-hidden="true"></i>:</label>
      <br>
      <input type="text" ng-model="loginCtrl.email">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
      <label>Password <i class="fa fa-unlock-alt" aria-hidden="true"></i>:</label>
      <br>
      <input type="password" ng-model="loginCtrl.password">
    </md-input-container>

    <div layout="row" layout-align="end center">
    <md-button class="md-warn md-raised md-hue-3" type="cancel">Cancel</md-button>
    <md-button class="md-primary md-raised md-hue-3" type="submit" ng-click="loginCtrl.login(loginCtrl.email, loginCtrl.password)">Submit</md-button>
  </md-content>
</div>
<pre>
{{ loginCtrl | json}}
</pre>

